/* INSCRIPTION CSS */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../images/logos/maison.jpg) no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #f5f5f5;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  align-items: center;
  background: var(--main);
}

img {
  width: 80%;
}

label {
  display: none;
}

input {
  margin-top: 10px;
  padding: 5px;
  width: 300px;
}

.connexion-button {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  border: transparent;
  padding: 12px;
  background-color: var(--secondary);
  color: #f5f5f5;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--dark);
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-login a {
  text-align: center;
  color: var(--secondary);
}

.container-logos {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.container-logos img {
  width: 25px;
  height: 25px;
}

p {
  color: var(--secondary);
  font-size: var(--FSize);
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  main {
    background: url(../images/logos/maison.jpg) no-repeat;
  }

  .container-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media all and (min-width: 1024px) {
  main {
    background: url(../images/logos/maison.jpg) no-repeat;
    background-position: center;
  }

  .container-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* CONNEXION CSS */

.container-inscription p {
  color: var(--secondary);
  font-size: var(--FSize);
}

.container-inscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-inscription a {
  text-align: center;
  color: var(--secondary);
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  main {
    background: url(../images/logos/maison.jpg) no-repeat;
  }

  .container-inscription {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  main {
    background: url(../images/logos/maison.jpg) no-repeat;
    background-position: center;
  }

  .container-inscription {
    display: none;
  }
}
